#add-books {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 18px;
  margin-top: 12px;
}

#add-books button {
  width: fit-content;
}

header {
  text-align: center;
}

#list-books {
  border: solid;
  padding: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  height: 30px;
  box-shadow: black 4px 3px;
}